*,
*::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}
.zoom {
  margin: 0 auto;
  max-width: 700px;
  border-radius: 10px;
  border: 1px solid #efeff0;
  background: #fff;
}
.zoom1 {
  background: #f5f5f5;
  padding: 18px 24px;
  min-height: 72px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  max-width: 700px;
}
.zoom2 {
  border-top: 2px solid #efeff0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 40px;
  position: relative;
  /* position: absolute; */
  /* bottom: ; */
}
.btn-container {
  position: absolute;
  right: 24px;
  bottom: 20px;
  /* margin-bottom: 30px; */
  /* bottom: 20px; */
}

.cancel {
  /* position:static ; */
  /* top: 30px; */
  /* position: relative; */
  /* top: 20px; */
  /* right: 20px; */
  /* left: 20px; */
  /* bottom: 20px; */
  /* left: 80%; */
  /* position: absolute; */
  /* top: 0px; */
  /* position: fixed; */
  right: 20px;
  /* bottom: 20; */
  top: 40px;
  /* margin-bottom: 24px; */
}
.join {
  position: relative;
  /* left: 300px; */
  /* left: 80%; */
}
.stick {
  position: sticky;
  top: 0;
}

/* header is same zoom1 */
.zoom1 {
  display: flex;
  gap: 20px;
}
.zoom1 div h4,
.zoom1 div p {
  margin: 0;
}

/* only flex */
.flex {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  background-color: chocolate;
  gap: 20px;
  justify-content: space-around;
  /* justify-content: flex-start; */
  /* justify-content: flex-end; */
  align-items: center;
  padding: 100px;
  /* min-height: 400px; */
}
