*,
*::after,
*::before {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
}

img {
  max-inline-size: 100%;
  block-size: auto;
}

header {
  display: flex;
  min-height: 100px;
  justify-content: space-between;
  max-width: 1170px;
  margin: 0 auto;
  align-items: center;
}
/* descendant class */

.nav nav ul li {
  display: inline-block;
  margin-left: 20px;
  /* list-style-type: circle; */
  list-style-type: none;
}

.nav nav ul li a {
  text-decoration: none;
  color: #111;
  font-size: 20px;
  font-weight: bold;
}

main {
  display: flex;
  max-width: 1170px;
  margin: 0 auto;
  /* max-height: 60vh; */
  align-items: center;
  justify-content: space-between;
}

.section-image {
  width: 100%;
  /* max-width: 500px; */
  max-height: 400px;
}

.sec1 {
  /* display: flex; */
}
footer {
  max-width: 1170px;
  margin: 0 auto;
}
footer p {
  text-align: center;
}
